{% extends  is_granted('ROLE_ADMIN') ? '::admin.html.twig' : '::frontend.html.twig' %}
{% block title %}Productos{% endblock %}
{% block body %}
{{ parent() }}
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div class="jumbotron">
				<h2>Clientes que deben balones</h2>
				<table class="table table-hover">
					<tr>
						<th>Nombres y Apellidos</th>
					</tr>
					{% set clibalon = "" %}
					{% for b in balon %}    
					    {% if b.cliente.nombre != clibalon %}
					        <tr><td><a href="{{ path('eticom_gas_vercliente',{'idcliente':b.cliente.IdCliente}) }}">{{ b.cliente.nombre }} {{ b.cliente.apellido }}</a></td></tr>
					    {% endif %}
					    {% set clibalon = b.cliente.nombre %}
					{% endfor %}					
				</table>
			</div>
		</div>
		<div class="col-md-6">
			<div class="jumbotron">
				<h2>Clientes que deben Dinero</h2>
				<table class="table table-hover">
					<tr>
						<th>Nombres y Apellidos</th>
					</tr>
					{% set clidinero = "" %}
					{% for p in prestamo %}
					    {% if p.cliente.nombre != clidinero %}
					        <tr><td><a href="{{ path('eticom_gas_vercliente',{'idcliente':p.cliente.IdCliente}) }}">{{ p.cliente.nombre }} {{ p.cliente.apellido}}</a></td></tr>
					    {% endif %}
					    {% set clidinero = p.cliente.nombre %}
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}